
<button (click)="doTask()">Click Me</button>

<p (mouseenter)="doTask()">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam cumque rerum fugiat aspernatur debitis molestias sapiente minus omnis? Non ullam similique exercitationem nam consectetur? Maiores reiciendis atque animi quo mollitia!</p>