<div>
    MyApp<br/>
    <a [routerLink]="['home']">Home</a> | 
    <a [routerLink]="['about']">About</a> | 
    <a routerLink="login">Login</a> | 
    <!-- <a routerLink="welcome/mark">Welcome</a> | 
    <a routerLink="welcome/carl">Welcome</a> | 
    <a routerLink="welcome/miley">Welcome</a> |  -->
</div>