<h2>Attribute directives</h2>
<button (click)="toggle()">Toggle: {{flag}}</button>
<ul>
    <li>Mango</li>
    <li class="success">Mango</li>
    <li [ngClass]="myCssClass">Mango</li>
    <li [ngClass]="flag?myCssClass:''">Mango</li>
    <li>Grapes</li>
    <li [ngStyle]="myStyleCss">Grapes</li>
    <li [ngStyle]="{'text-align': 'center'}">Grapes</li>
</ul>
<!-- <img [src]="var" alt=""> -->


<h2>Structural directives</h2>
<button (click)="toggle()">Toggle: {{flag}}</button>

<h3 *ngIf="emps.length==0">Employees array is empty</h3>

<table *ngIf="emps.length!=0" border="1">
    <tr>
        <th>S.No.</th>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
    </tr>
    <tr *ngFor="let emp of emps;let i=index">
        <td>{{i+1}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.age}}</td>
        <td>{{emp.address}}</td>
    </tr>
</table>
