<form [formGroup]="loginForm" (submit)="getLogin()">
    Username: <input type="text" formControlName="username"/>
    <span class="error" *ngIf="loginForm.controls['username'].dirty && !!loginForm.controls['username'].errors">
        <span *ngIf="loginForm.controls['username'].errors['required']">Username can not be empty<br/></span>
        <span *ngIf="loginForm.controls['username'].errors['minlength']">Minimum 4 chars are required<br/></span>
        <span *ngIf="loginForm.controls['username'].errors['maxlength']">Maximum 8 chars are required<br/></span>
    </span>
    <br/>
    Password: <input type="text" formControlName="password"/>
    <br/>
    <button [disabled]="loginForm.invalid">Submit</button>
</form>

<br/>
loginForm.valid: {{loginForm.valid}}<br/>
loginForm.invalid: {{loginForm.invalid}}<br/>
username.valid: {{loginForm.controls['username'].valid}}<br/>
username.invalid: {{loginForm.controls['username'].invalid}}<br/>
username.dirty: {{loginForm.controls['username'].dirty}}<br/>
username.pristine: {{loginForm.controls['username'].pristine}}<br/>
username.errors: {{loginForm.controls['username'].errors}}<br/>
