<h2>Movies</h2>
<button (click)="loadMovies()">Load</button>
<button (click)="saveMovie()">Save</button>
<table border="1" *ngIf="movies.length>0">
    <tr>
        <th>S.No.</th>
        <th>Id</th>
        <th>Title</th>
        <th>Director</th>
        <th>Rating</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    <tr *ngFor="let movie of movies;let i=index">
        <td>{{i+1}}</td>
        <td>{{movie.id}}</td>
        <td>{{movie.title}}</td>
        <td>{{movie.director}}</td>
        <td>{{movie.rating}}</td>
        <td><button (click)="deleteMovie(movie.id)">Delete</button></td>
        <td><button (click)="editMovie(movie.id)">Edit</button></td>
    </tr>
</table>

<hr/>

<div *ngIf="selectedMovie!=null">
    <h4>Selected Movie</h4>
<ul>
    <li>Id: {{selectedMovie.id}}</li>
    <li>Title: {{selectedMovie.title}}</li>
    <li>Director: {{selectedMovie.director}}</li>
    <li>Rating: {{selectedMovie.rating}}</li>
</ul>

</div>