<div>
    MyApp<br/>
    <a [routerLink]="['home']">Home</a> | 
    <a [routerLink]="['about']">About</a> | 

    <a [routerLink]="['user', 'login']">Login</a> | 
    <a [routerLink]="['user', 'welcome']">Welcome</a> | 
</div>