<div>
    <h1>Pipes</h1>

<ul>
    <li>Today: <mark>{{today}}</mark></li>
    <li>Today|date: <mark>{{today|date}}</mark></li>
    <li>Today|date:'dd-MM_yyyy@hh:mm': <mark>{{today|date:'dd-MM_yyyy@hh:mm'}}</mark></li>
    <li>Now|date: <mark>{{now|date}}</mark></li>

    <li></li>
    <li>Hero: {{hero}}</li>
    <li>Hero: {{hero|uppercase}}</li>
    <li>Hero: {{hero|capitalize}}</li>
    <li>Hero: {{hero}}</li>

</ul>
</div>